:root {
  --desaturatedRed: hsl(0, 36%, 70%);
  --softRed: hsl(0, 93%, 86%);

  --darkGrayishRed: hsl(0, 6%, 24%);

  --josefinSans: 'Josefin Sans', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: var(--josefinSans);
  min-height: 100vh;
  background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
header {
  padding: 1.8rem;
}
h1 {
  color: var(--desaturatedRed);
  font-size: 2.5rem;
  font-weight: 300;
  /* 1.5625rem = 25px */
  padding-top: 1.5625rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
p {
  color: var(--desaturatedRed);
  padding: 25px 8px;
  font-weight: 400;
  line-height: 1.35rem;
}
span {
  color: var(--darkGrayishRed);
  font-weight: 600  ;
}
form {
  font-family: var(--josefinSans);
  margin: 20px 0;
}
input[type="email"] {
    border: 1px solid var(--desaturatedRed);
    padding: 13px 18px;
    border-radius: 30px;
    min-width: 250px;
}
input[type="email"]::placeholder {
  color: var(--desaturatedRed);
  font-family: var(--josefinSans);
  font-size: 1.05em;
}
input[type="email"].error::placeholder {
  color: black;
}
button[type="submit"] { 
  border: none;
  background-color: var(--desaturatedRed);
  padding: 10px 25px;
  border-radius: 40px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: relative;
  right: 45px;
}
footer {
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.card-container {
  padding: 2rem;
  text-align: center;
}
.logo {
  width: 100px;
}
.input-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.input {
  margin-right: 10px;
}
.error {
  font-size: small;
  color: red;
  padding: 15px 5px;
  text-align: left;
}
.success {
  font-size: small;
  color: green;
  padding: 15px 5px;
  text-align: left;
}